<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="boostrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="boostrap/css/bootstrap-table.css">
    <link href="boostrap/css/templatemo-style.css" rel="stylesheet">
    <link href="boostrap/css/font-awesome.min.css" rel="stylesheet">
    <link href="css/modalExtra.css" rel="stylesheet">
</head>
<body style="background-color: transparent">

<div class="templatemo-flex-row">
    <div class="templatemo-content col-1 light-gray-bg">
        <div class="templatemo-content-widget white-bg no-border">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>产检列表</h3>
                    <table id="antenataTable" class="table table-striped table-bordered templatemo-user-table"
                           data-toggle="table"
                           data-page-list="[10]"
                           data-pagination="true"
                           data-height="auto">
                        <thead>
                        <tr>
                            <th data-field="id">产检号</th>
                            <th data-field="care_extra">陪诊备注</th>
                            <th data-field="care_images">检查报告</th>
                            <th data-field="orderid">关联订单号</th>
                            <th data-field="user_confirm_end">用户确认结束时间</th>
                            <th data-field="first_inform_end">第一次通知时间点</th>
                            <th data-field="care_cfg_id">产检次数</th>
                            <th data-field="schedule_time">计划的产检时间</th>
                            <th data-field="staff_id">服务陪诊人员</th>
                            <th data-field="care_time">服务陪诊时间</th>
                            <th data-field="staff_wxid" data-formatter="conectFormatter"></th>
                            <th data-field="status" data-formatter="sFormatter">状态</th>
                            <th data-field="createtime" data-formatter="tFormatter">下单时间</th>
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="boostrap/js/jquery.min.js"></script>
<script src="boostrap/js/bootstrap.min.js"></script>
<script src="boostrap/js/bootstrap-table.js"></script>
<script src="boostrap/bootstrap-table-zh-CN.js"></script>
<script src="boostrap/js/templatemo-script.js"></script>      <!-- Templatemo Script -->
<script src="js/cookieUnit.js"></script>
<script>
    $(function(){
        window.parent.onAutoIframeHeight(800)

        $('#antenataTable').bootstrapTable('destroy')
        $('#antenataTable').bootstrapTable({
            method: 'post',
            url: 'http://139.196.238.46:7001/api/getOrders',
            sidePagination: "server",
            dataType: "json",
            pageSize:  10,
            striped: true,
            onLoadSuccess: function () {
            },
            onResetView: function () {
            }
        })
    })
</script>
</body>
</html>
