<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="boostrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="boostrap/css/bootstrap-table.min.css">
    <link href="boostrap/css/templatemo-style.css" rel="stylesheet">
    <link href="boostrap/css/font-awesome.min.css" rel="stylesheet">
    <link href="css/fileinput.min.css" rel="stylesheet">
    <link rel='stylesheet' , href='css/qunit-1.22.0.css'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1"/>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <![endif]-->

</head>
<body>
<div class="templatemo-flex-row">
    <div class="templatemo-sidebar" style="width: 15%;float: left" >
        <div class="profile-photo-container">
            <img src="img/pro.png" alt="Profile Photo" class="img-responsive">
            <!--<div class="profile-photo-overlay"></div>-->
        </div>
        <div class="mobile-menu-icon">
            <i class="fa fa-bars"></i>
        </div>
        <nav class="templatemo-left-nav">
            <ul>
                <li class="accordion">
                    <a href="#" onclick="displayOrder(this,0)"><i class="glyphicon glyphicon-plus" style="margin-right: 15px"></i><span>系统配置</span></a>
                    <ul id = "am0" class="nav nav-pills nav-stacked" style="display: none">
                        <li><a href="setDisplay"  onClick="onSelectMenu(this)" target="ifr" id="li_0"><i
                                class="fa fa-eject fa-fw" style="margin-left: 40px"></i>显示配置</a></li>
                        <li><a href="setGlobal"  onClick="onSelectMenu(this)" target="ifr" id="li_1"><i
                                class="fa fa-eject fa-fw" style="margin-left: 40px"></i>参数配置</a></li>
                        <li><a href="setAntenatal"  onClick="onSelectMenu(this)" target="ifr" id="li_12"><i
                                class="fa fa-eject fa-fw" style="margin-left: 40px"></i>产检配置</a></li>
                        <li><a href="setFeedbackTemplate"  onClick="onSelectMenu(this)" target="ifr" id="li_13"><i
                                class="fa fa-eject fa-fw" style="margin-left: 40px"></i>服务反馈配置</a></li>
                    </ul>
                </li>
                <li class="accordion">
                    <a href="#" onclick="displayOrder(this,4)"><i class="glyphicon glyphicon-plus" style="margin-right: 15px"></i><span>产检管理</span></a>
                    <ul id = "am4" class="nav nav-pills nav-stacked" style="display: none">
                        <li><a href="antenatalList"  onClick="onSelectMenu(this)" target="ifr" id="li_14"><i
                                class="fa fa-eject fa-fw" style="margin-left: 40px"></i>产检记录</a></li>
                        <li><a href="antenatalDo"  onClick="onSelectMenu(this)" target="ifr" id="li_15"><i
                                class="fa fa-eject fa-fw" style="margin-left: 40px"></i>产检派单</a></li>
                    </ul>
                </li>
                <li class="accordion">
                    <a href="#" onclick="displayOrder(this,1)"><i class="glyphicon glyphicon-plus" style="margin-right: 15px"></i><span>技师管理</span></a>
                    <ul id = "am1" class="nav nav-pills nav-stacked" style="display: none">
                        <li><a href="technicianApproval"  onClick="onSelectMenu(this)" target="ifr" id="li_2"><i
                                class="fa fa-eject fa-fw" style="margin-left: 40px"></i>技师审批</a></li>
                        <li><a href="setTechnician"  onClick="onSelectMenu(this)" target="ifr" id="li_13"><i
                                class="fa fa-eject fa-fw" style="margin-left: 40px"></i>技师维护</a></li>
                    </ul>
                </li>
                <li><a href="setService" onClick="onSelectMenu(this)" target="ifr" id="li_4"><i
                        class="fa fa-eject fa-fw"></i>服务项目维护</a></li>
                <li class="accordion">
                    <a href="#" onclick="displayOrder(this,2)"><i class="glyphicon glyphicon-plus" style="margin-right: 15px"></i><span>订单管理</span></a>
                    <ul id = "am2" class="nav nav-pills nav-stacked" style="display: none">
                        <li><a href="orderList"  onClick="onSelectMenu(this)" target="ifr" id="li_5"><i
                                class="fa fa-eject fa-fw" style="margin-left: 40px"></i>订单列表</a></li>
                        <li><a href="setOrder"  onClick="onSelectMenu(this)" target="ifr" id="li_6"><i
                                class="fa fa-eject fa-fw" style="margin-left: 40px"></i>派发订单</a></li>
                        <li><a href="setCount"  onClick="onSelectMenu(this)" target="ifr" id="li_7"><i
                                class="fa fa-eject fa-fw" style="margin-left: 40px"></i>结算管理</a></li>
                        <li><a href="countList"  onClick="onSelectMenu(this)" target="ifr" id="li_8"><i
                                class="fa fa-eject fa-fw" style="margin-left: 40px"></i>结算记录</a></li>
                    </ul>
                </li>
                <li class="accordion">
                    <a href="#" onclick="displayOrder(this,3)"><i class="glyphicon glyphicon-plus" style="margin-right: 15px"></i><span>提现管理</span></a>
                    <ul id = "am3" class="nav nav-pills nav-stacked" style="display: none">
                        <li><a href="withdrawList"  onClick="onSelectMenu(this)" target="ifr" id="li_9"><i
                                class="fa fa-eject fa-fw" style="margin-left: 40px"></i>提现记录</a></li>
                        <li><a href="withdrawAPProval"  onClick="onSelectMenu(this)" target="ifr" id="li_10"><i
                                class="fa fa-eject fa-fw" style="margin-left: 40px"></i>提现审核</a></li>
                    </ul>
                </li>
                <li><a href="setUsers" onClick="onSelectMenu(this)" target="ifr" id="li_11"><i class="fa fa-eject fa-fw"></i>用户管理</a>
                </li>
                <li><a href="/?clear=0" onClick="onSelectMenu(this)" id="li_12"><i class="fa fa-eject fa-fw"></i>退出</a>
                </li>
            </ul>
        </nav>
    </div>
    <!-- Main content -->
    <div class="templatemo-content col-1 light-gray-bg" id="bodyDiv" style="width: 80%;float: right">
        <div class="templatemo-top-nav-container">
            <div class="row">
                <nav class="templatemo-top-nav col-lg-12 col-md-12">
                    <!--<img src="logo.png" align="center" alt="Profile Photo" class="img-responsive">-->
                    <h1>月子廋到家</h1>
                </nav>
            </div>
        </div>
        <iframe src="" style="width: 100%" frameBorder=0 scrolling=no id="ifr" name="ifr"></iframe>
    </div>
    <div class="modal fade" id="loading" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         data-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="panel-heading"><h2 class="text-uppercase">加载过程中.......</h2></div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>
</div>

<script src="boostrap/js/jquery.min.js"></script>
<script src="boostrap/js/bootstrap.min.js"></script>
<script src="boostrap/js/bootstrap-table.js"></script>
<script src="js/webLogic.js"></script>
<script src="boostrap/js/templatemo-script.js"></script>      <!-- Templatemo Script -->
<script src="js/cookieUnit.js"></script>
<script src="js/fileinput.min.js"></script>
<script src="js/locales/zh.js"></script>

<script>
    var _self
    $(function () {
        window['ifr'].location.href = "/setDisplay"
        _self = $(this)

    });
    var orderOpen = [false,false,false]
    function displayOrder(_this,index){
        onSelectMenu(_this)
        if(orderOpen[index]) {
            orderOpen[index] = false
            document.getElementById("am"+index).style.display = 'none'
        }else {
            orderOpen[index] = true
            document.getElementById("am"+index).style.display = 'block'
        }
    }
    var selectedMeun = $('#li_0')
    function onSelectMenu(_this) {
        var id = _this.id;
        if (selectedMeun == $('#' + id)) return

        selectedMeun.attr("class", "")
        $('#' + id).attr("class", "active")
        selectedMeun = $('#' + id)
    }
    function onAutoIframeHeight(height) {
        if(height){
            $('#ifr').height(height);
        }else {
            var mainheight = _self.contents().find("body").height() + 50;
            $('#ifr').height(mainheight);
        }
    }
    function onCreateProject() {
        window['ifr'].location.href = 'modify-project?isc=1'
    }
    var t1 = 0
    function onLoading(turn) {
        if (turn == "show") {
            document.getElementById("ifr").style.display = 'none'
            t1 = setInterval(function () {
                $('#loading').modal(turn)
            }, 2000);
        } else {
            document.getElementById("ifr").style.display = 'block'
            window.clearTimeout(t1);//去掉定时器
            $('#loading').modal(turn)
            t1 = 0
        }
    }
</script>
</body>
</html>
