<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="boostrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="boostrap/css/bootstrap-table.min.css">
    <link href="boostrap/css/templatemo-style.css" rel="stylesheet">
    <link href="boostrap/css/font-awesome.min.css" rel="stylesheet">
    <link href="css/fileinput.min.css" rel="stylesheet">
    <link rel='stylesheet' , href='css/qunit-1.22.0.css'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1"/>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <![endif]-->
</head>
<body style="background-color: transparent">

<div class="templatemo-content col-1 light-gray-bg">
    <div class="templatemo-content-widget white-bg">
        <div class="panel panel-default no-border">
            <div class="panel-body">
                <form class="templatemo-login-form" id="modifyForm">
                    <div class="row form-group">
                        <label class="col-lg-2  control-label" style="width: 100%;">肖像上传</label>
                        <div class="input-group-btn">
                            <div class="btn btn-file">
                                <input id="photourl" name="photourl" class="file" type="file" multiple="" data-preview-file-type="any"
                                       data-upload-url="#" data-preview-file-icon="">
                            </div>
                        </div>
                    </div>
                    <div class="row form-group">
                        <label class="col-lg-2 control-label" style="width: 100%;">姓名</label>
                        <div class="col-lg-12 col-md-12 form-group">
                            <input type="text" class="form-control" id="name" name="name">
                        </div>
                    </div>
                    <div class="row form-group">
                        <label class="col-lg-2 control-label" style="width: 100%;">性别</label>
                        <div class="col-lg-12 col-md-12 form-group">
                            <select name="sex" id="sex" class="form-control">
                                <option value="0">男</option>
                                <option value="1">女</option>
                            </select>
                        </div>
                    </div>
                    <div class="row form-group">
                        <label class="col-lg-2 control-label" style="width: 100%;">年龄</label>
                        <div class="col-lg-12 col-md-12 form-group">
                            <input type="text" class="form-control" id="age" name="age">
                        </div>
                    </div>
                    <div class="row form-group">
                        <label class="col-lg-2 control-label" style="width: 100%;">职称</label>
                        <div class="col-lg-12 col-md-12 form-group">
                            <select id="position" name="position" class="form-control">
                                <option>护士</option>
                                <option>护师</option>
                                <option>主管护师</option>
                                <option>副主任护师</option>
                                <option>主任护师</option>
                            </select>
                        </div>
                    </div>
                    <div class="row form-group">
                        <label class="col-lg-2 control-label" style="width: 100%;">从业时间</label>
                        <div class="col-lg-12 col-md-12 form-group">
                            <select id="expyears" name="expyears" class="form-control">
                                <option>半年</option>
                                <option>一年</option>
                                <option>两年</option>
                                <option>三年</option>
                                <option>四年</option>
                                <option>五年</option>
                                <option>五年以上</option>
                            </select>
                        </div>
                    </div>
                    <div class="row form-group">
                        <label class="col-lg-2 control-label" style="width: 100%;">普通认证</label>
                        <div class="input-group-btn">
                            <div class="btn btn-file">
                                <input id="normal_cert" name="normal_cert" class="file" type="file" multiple="" data-preview-file-type="any"
                                       data-upload-url="#" data-preview-file-icon="">
                            </div>
                        </div>
                    </div>
                    <div class="row form-group">
                        <label class="col-lg-2 control-label" style="width: 100%;">权威认证</label>
                        <div class="input-group-btn">
                            <div class="btn btn-file">
                                <input id="expert_cert" name="expert_cert" class="file" type="file" multiple="" data-preview-file-type="any"
                                       data-upload-url="#" data-preview-file-icon="">
                            </div>
                        </div>
                    </div>
                    <div class="row form-group">
                        <label class="col-lg-2 control-label" style="width: 100%;">地址</label>
                        <div class="col-lg-12 col-md-12 form-group">
                            <input type="text" class="form-control" id="address" name="address">
                        </div>
                    </div>
                    <div class="row form-group">
                        <label class="col-lg-2 control-label" style="width: 100%;">电话</label>
                        <div class="col-lg-12 col-md-12 form-group">
                            <input type="text" class="form-control" id="tel" name="tel">
                        </div>
                    </div>
                    <div class="row form-group">
                        <label class="col-lg-2 control-label" style="width: 100%;">科室</label>
                        <div class="col-lg-12 col-md-12 form-group">
                            <input type="text" class="form-control" id="keshi" name="keshi">
                        </div>
                    </div>
                    <div class="row form-group">
                        <label class="col-lg-2 control-label" style="width: 100%;">简介</label>
                        <div class="col-lg-12 col-md-12 form-group">
                            <input type="text" class="form-control" id="content" name="content">
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-lg-12 col-md-12 form-group">
                            <label class="control-label templatemo-block" style="width: 100%;">擅长</label>
                            <div class="templatemo-block margin-bottom-5" style="width:10%;float:left">
                                <input type="checkbox" name="emailOptions" id="r1">
                                <label for="r1" class="font-weight-400"><span></span>通乳</label>
                            </div>
                            <div class="templatemo-block margin-bottom-5" style="width:10%;float:left">
                                <input type="checkbox" name="emailOptions" id="r2">
                                <label for="r2" class="font-weight-400"><span></span>塑性</label>
                            </div>
                            <div class="templatemo-block margin-bottom-5" style="width:10%;float:left">
                                <input type="checkbox" name="emailOptions" id="r3">
                                <label for="r3" class="font-weight-400"><span></span>减肥</label>
                            </div>
                            <div class="templatemo-block margin-bottom-5" style="width:10%;float:left">
                                <input type="checkbox" name="emailOptions" id="r4">
                                <label for="r4" class="font-weight-400"><span></span>减肥</label>
                            </div>
                            <div class="templatemo-block margin-bottom-5" style="width:10%;float:left">
                                <input type="checkbox" name="emailOptions" id="r5">
                                <label for="r5" class="font-weight-400"><span></span>减肥</label>
                            </div>
                            <div class="templatemo-block margin-bottom-5" style="width:10%;float:left">
                                <input type="checkbox" name="emailOptions" id="r6">
                                <label for="r6" class="font-weight-400"><span></span>通乳</label>
                            </div>
                            <div class="templatemo-block margin-bottom-5" style="width:10%;float:left">
                                <input type="checkbox" name="emailOptions" id="r7">
                                <label for="r7" class="font-weight-400"><span></span>塑性</label>
                            </div>
                            <div class="templatemo-block margin-bottom-5" style="width:10%;float:left">
                                <input type="checkbox" name="emailOptions" id="r8">
                                <label for="r8" class="font-weight-400"><span></span>减肥</label>
                            </div>
                            <div class="templatemo-block margin-bottom-5" style="width:10%;float:left">
                                <input type="checkbox" name="emailOptions" id="r9">
                                <label for="r9" class="font-weight-400"><span></span>减肥</label>
                            </div>
                            <div class="templatemo-block margin-bottom-5" style="width:10%;float:left">
                                <input type="checkbox" name="emailOptions" id="r10">
                                <label for="r10" class="font-weight-400"><span></span>减肥</label>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="form-group text-right">
                    <button onclick="onPostForm()" class="templatemo-blue-button">保存</button>
                    <button onclick="onRest()" class="templatemo-white-button">重置</button>
                    <button onclick="onBack()" id="cancel" class="templatemo-white-button">取消</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="boostrap/js/jquery.min.js"></script>
<script src="boostrap/js/bootstrap.min.js"></script>
<script src="boostrap/js/bootstrap-table.js"></script>
<script src="js/webLogic.js"></script>
<script src="boostrap/js/templatemo-script.js"></script>      <!-- Templatemo Script -->
<script src="js/cookieUnit.js"></script>
<script src="js/fileinput.min.js"></script>
<script src="js/locales/zh.js"></script>
<script src="js/modifyTechnician.js"></script>

</body>
</html>
