<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="boostrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="boostrap/css/bootstrap-table.min.css">
  <link href="boostrap/css/templatemo-style.css" rel="stylesheet">
  <link href="boostrap/css/font-awesome.min.css" rel="stylesheet">
  <link href="css/fileinput.min.css" rel="stylesheet">
</head>

<body style="background-color: transparent">
<div class="templatemo-content col-1 light-gray-bg">
  <div class="templatemo-content-widget white-bg">
    <div class="panel panel-default no-border">
      <div class="panel-body">
        <form class="templatemo-login-form">
          <div class="form-group">
            <label class="col-lg-2  control-label" style="width: 100%;">服务项目图片</label>
            <div class="input-group-btn">
              <div class="btn btn-file">
                <input id="file-1" class="file" type="file" multiple="" data-preview-file-type="any"
                       data-upload-url="#" data-preview-file-icon="">
              </div>
            </div>
          </div>
          <div class="row form-group">
            <label class="col-lg-2 control-label" style="width: 100%;">服务项目名称</label>
            <div class="col-lg-12 col-md-12 form-group">
              <input type="text" class="form-control" id="nm" name="nm">
            </div>
          </div>
          <div class="row form-group">
            <label class="col-lg-2 control-label" style="width: 100%;">服务内容</label>
            <div class="col-lg-12 col-md-12 form-group">
              <input type="text" class="form-control" id="nr" name="nr">
            </div>
          </div>
          <div class="row form-group">
            <label class="col-lg-2 control-label" style="width: 100%;">服务费用</label>
            <div class="col-lg-12 col-md-12 form-group">
              <input type="Number" class="form-control" id="rmb" name="rmb">
            </div>
          </div>
          <div class="row form-group">
            <label class="col-lg-2 control-label" style="width: 100%;">适用人群</label>
            <div class="col-lg-12 col-md-12 form-group">
              <input type="text" class="form-control" id="cg" name="cg">
            </div>
          </div>
          <div class="row form-group">
            <label class="col-lg-2 control-label" style="width: 100%;">服务介绍</label>
            <div class="col-lg-12 col-md-12 form-group">
              <textarea class="form-control" id="js" name="js" rows="3"></textarea>
            </div>
          </div>
          <div class="row form-group">
            <label class="col-lg-2 control-label" style="width: 100%;">服务步骤</label>
            <div class="col-lg-12 col-md-12 form-group">
              <input type="text" class="form-control" id="bz" name="bz">
            </div>
          </div>
          <div class="row form-group">
            <label class="col-lg-2 control-label" style="width: 100%;">服务时长</label>
            <div class="col-lg-12 col-md-12 form-group">
              <input type="text" class="form-control" id="sc" name="sc">
            </div>
          </div>
          <div class="row form-group">
            <label class="col-lg-2 control-label" style="width: 100%;">中途取消服务说明</label>
            <div class="col-lg-12 col-md-12 form-group">
              <input type="text" class="form-control" id="qxsm" name="qxsm">
            </div>
          </div>
          <div class="row form-group">
            <label class="col-lg-2 control-label" style="width: 100%;">服务范围</label>
            <div class="col-lg-12 col-md-12 form-group">
              <input type="text" class="form-control" id="fw" name="fw">
            </div>
          </div>
          <div class="row form-group">
            <label class="col-lg-2 control-label" style="width: 100%;">服务承若</label>
            <div class="col-lg-12 col-md-12 form-group">
              <textarea class="form-control" id="cr" name="cr" rows="3"></textarea>
            </div>
          </div>
        </form>
        <div class="form-group text-right">
          <button onclick="onPostForm()" class="templatemo-blue-button">保存</button>
          <button onclick="onRest()" class="templatemo-white-button">重置</button>
          <button onclick="onBack()" id="cancel" class="templatemo-white-button">取消</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- JS -->
<script src="boostrap/js/jquery-1.11.2.min.js"></script>
<script src="boostrap/js/bootstrap.min.js"></script>
<script src="boostrap/js/bootstrap-table.js"></script>
<script src="boostrap/js/templatemo-script.js"></script>
<script src="js/serviceDetail.js"></script>
<script src="js/fileinput.min.js"></script>
<script src="js/locales/zh.js"></script>
</body>
</html>