<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="templatemo">

    <link rel="stylesheet" href="boostrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="boostrap/css/bootstrap-table.min.css">
    <link href="boostrap/css/templatemo-style.css" rel="stylesheet">
    <link href="boostrap/css/font-awesome.min.css" rel="stylesheet">

    <link rel='stylesheet' , href='css/qunit-1.22.0.css'>
    <link href="css/modalExtra.css" rel="stylesheet">
</head>

<body style="background-color: transparent">
<div class="templatemo-content col-1 light-gray-bg">
    <div class="templatemo-content-widget white-bg">
        <div class="panel panel-default no-border">
            <div class="panel-body">
                
                <div id="toolbar">
                    <button id="btn_swiper" class="btn btn-default">添加轮播图片</button>
                </div>
                <table id="table" class="table table-striped table-bordered templatemo-user-table" data-toggle="table" data-page-list=""
                       data-height="auto">
                    <colgroup>
                        <col style="width:95%">
                        <col style="width:5%">
                    </colgroup>
                    <thead>
                    <tr>
                        <th data-field="_id"></th>
                        <th data-field="adr" data-editable="true" data-formatter="k1Formatter">图片地址</th>
                        <th data-field="linkAdr" data-editable="true" data-formatter="k2Formatter">跳转的地址</th>
                        <th data-field="idx" data-editable="true" data-formatter="k3Formatter">播放顺序</th>
                        <th data-field="pIdx" data-editable="true" data-formatter="k4Formatter">对应页面(首页、服务项目ID)</th>
                        <th data-field="operate" data-formatter="operateFormatter" data-events="operateEvents">操作</th>
                    </tr>
                    </thead>
                </table>
                <div id="xsToolbar">
                    <button id="btn_service" class="btn btn-default">添加服务</button>
                </div>
                <table id="xsTable" class="table table-striped table-bordered templatemo-user-table" data-toggle="table" data-page-list=""
                       data-height="auto">
                    <colgroup>
                        <col style="width:70%">
                        <col style="width:5%">
                        <col style="width:20%">
                        <col style="width:5%">
                    </colgroup>
                    <thead>
                    <tr>
                        <th data-field="_id"></th>
                        <th data-field="adr" data-editable="true" data-formatter="addrFormatter">图片地址</th>
                        <th data-field="idx" data-editable="true" data-formatter="idxFormatter">播放顺序</th>
                        <th data-field="name" data-editable="true" data-formatter="nameFormatter">名称</th>
                        <th data-field="operate" data-formatter="xsOperateFormatter" data-events="operateEvents">操作</th>
                    </tr>
                    </thead>
                </table>
                <div class="form-group text-right">
                    <button onclick="onPostForm()" class="templatemo-blue-button">保存</button>
                    <button onclick="onRest()" class="templatemo-white-button">重置</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- JS -->
<script src="boostrap/js/jquery.min.js"></script>
<script src="boostrap/js/bootstrap.min.js"></script>
<script src="boostrap/js/bootstrap-table.js"></script>
<script src="js/webLogic.js"></script>
<script src="boostrap/js/templatemo-script.js"></script>      <!-- Templatemo Script -->
<script src="js/modify-project-table.js"></script>
<script src="boostrap/bootstrap-table-zh-CN.js"></script>
<script>
    window.parent.onAutoIframeHeight() //设置Iframe的高度
</script>
</body>
</html>