<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="boostrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="boostrap/css/bootstrap-table.min.css">
    <link href="boostrap/css/templatemo-style.css" rel="stylesheet">
    <link href="boostrap/css/font-awesome.min.css" rel="stylesheet">

</head>
<body style="background-color: transparent">
<div class="templatemo-content col-1 light-gray-bg">
    <div class="templatemo-content-widget white-bg">
        <div class="panel panel-default">
            <div class="panel-body">
                <form class="templatemo-login-form" id="prForm">
                    <div class="row form-group">
                        <div class="col-lg-2 col-md-2 form-group">
                            <label for="payExpiredTime">未支付失效时间</label>
                            <input type="text" class="form-control" data-container="body" data-toggle="popover"
                                   data-placement="bottom" data-content="不能为空"
                                   onkeyup="value=value.replace(/[^\-?\d.]/g,'')" id="payExpiredTime" name="payExpiredTime">
                        </div>
                        <div class="col-lg-2 col-md-2 form-group">
                            <label for="orderWaitTime">已支付订单等待时间</label>
                            <input type="text" class="form-control" data-container="body" data-toggle="popover"
                                   data-placement="bottom" data-content="不能为空"
                                   onkeyup="value=value.replace(/[^\-?\d.]/g,'')" id="orderWaitTime" name="orderWaitTime">
                        </div>
                        <div class="col-lg-2 col-md-2 form-group">
                            <label for="tmct">抢单失效时间</label>
                            <input type="text" class="form-control" data-container="body" data-toggle="popover"
                                   data-placement="bottom" data-content="不能为空"
                                   onkeyup="value=value.replace(/[^\-?\d.]/g,'')" id="tmct" name="tmct">
                        </div>
                        <div class="col-lg-2 col-md-2 form-group">
                            <label for="sct">指定技师失效时间</label>
                            <input type="text" class="form-control" data-container="body" data-toggle="popover"
                                   data-placement="bottom" data-content="不能为空"
                                   onkeyup="value=value.replace(/[^\-?\d.]/g,'')" id="sct" name="sct">
                        </div>
                        <div class="col-lg-2 col-md-2 form-group">
                            <label for="bfy">人工派单失效时间</label>
                            <input type="text" class="form-control" data-container="body" data-toggle="popover"
                                   data-placement="bottom" data-content="不能为空"
                                   onkeyup="value=value.replace(/[^\-?\d.]/g,'')" id="bfy" name="bfy">
                        </div>
                        <div class="col-lg-2 col-md-2 form-group">
                            <label for="userCancelFeeB">技师已接单用户取消违约比例</label>
                            <input type="text" class="form-control" data-container="body" data-toggle="popover"
                                   data-placement="bottom" data-content="不能为空"
                                   onkeyup="value=value.replace(/[^\-?\d.]/g,'')" id="userCancelFeeB" name="userCancelFeeB">
                        </div>
                        <div class="col-lg-2 col-md-2 form-group">
                            <label for="userCancelFeeA">技师未接单用户取消违约比例</label>
                            <input type="text" class="form-control" data-container="body" data-toggle="popover"
                                   data-placement="bottom" data-content="不能为空"
                                   onkeyup="value=value.replace(/[^\-?\d.]/g,'')" id="userCancelFeeA" name="userCancelFeeA">
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-lg-2 col-md-2 form-group">
                            <label for="distanceConstraint">抢单覆盖范围(公里)</label>
                            <input type="text" class="form-control" data-container="body" data-toggle="popover"
                                   data-placement="bottom" data-content="不能为空"
                                   onkeyup="value=value.replace(/[^\-?\d.]/g,'')" id="distanceConstraint" name="distanceConstraint">
                        </div>
                        <div class="col-lg-2 col-md-2 form-group">
                            <label for="longDistanceFee">长距离加价费用</label>
                            <input type="text" class="form-control" data-container="body" data-toggle="popover"
                                   data-placement="bottom" data-content="不能为空"
                                   onkeyup="value=value.replace(/[^\-?\d.]/g,'')" id="longDistanceFee" name="longDistanceFee">
                        </div>
                        <div class="col-lg-2 col-md-2 form-group">
                            <label for="longDistanceBound">长距离界定值(公里)</label>
                            <input type="text" class="form-control" data-container="body" data-toggle="popover"
                                   data-placement="bottom" data-content="不能为空"
                                   onkeyup="value=value.replace(/[^\-?\d.]/g,'')" id="longDistanceBound" name="longDistanceBound">
                        </div>
                        <div class="col-lg-2 col-md-2 form-group">
                            <label for="mfr">预产期计算规则</label>
                            <input type="text" class="form-control" data-container="body" data-toggle="popover"
                                   data-placement="bottom" data-content="不能为空"
                                   onkeyup="value=value.replace(/[^\-?\d.]/g,'')" id="mfr" name="mfr">
                        </div>
                        <div class="col-lg-2 col-md-2 form-group">
                            <label for="minPay">每次最少提现多少钱</label>
                            <input type="text" class="form-control" data-container="body" data-toggle="popover"
                                   data-placement="bottom" data-content="不能为空"
                                   onkeyup="value=value.replace(/[^\-?\d.]/g,'')" id="minPay" name="minPay">
                        </div>
                        <div class="col-lg-2 col-md-2 form-group">
                            <label for="orderSettlePercent">订单多次结算总金额不超过订单金额的百分多少</label>
                            <input type="text" class="form-control" data-container="body" data-toggle="popover"
                                   data-placement="bottom" data-content="不能为空"
                                   onkeyup="value=value.replace(/[^\-?\d.]/g,'')" id="orderSettlePercent" name="orderSettlePercent">
                        </div>
                    </div>
                </form>
                <div class="form-group text-right">
                    <button onclick="onPostForm()" class="templatemo-blue-button">保存</button>
                    <button onclick="onRest()" class="templatemo-white-button">重置</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- JS -->
<script src="boostrap/js/jquery-1.11.2.min.js"></script>
<script src="boostrap/js/bootstrap.min.js"></script>
<script src="boostrap/js/bootstrap-table.js"></script>
<script>
    var g_ArgPost = {} //全局参数
    window.parent.onAutoIframeHeight()
    $(function () {
        $.getJSON("/manageProject/getGlobal", {}, function (argPost) {
            g_ArgPost = argPost
            setInputValue(argPost)
        })
    })
    function setInputValue(argPost) {
        document.getElementById("payExpiredTime").value = argPost.payExpiredTime || "";
        document.getElementById("orderWaitTime").value = argPost.orderWaitTime || "";
        document.getElementById("userCancelFeeA").value = argPost.userCancelFeeA || "";
        document.getElementById("userCancelFeeB").value = argPost.userCancelFeeB || "";
        document.getElementById("distanceConstraint").value = argPost.distanceConstraint || "";
        document.getElementById("longDistanceFee").value = argPost.longDistanceFee || "";
        document.getElementById("longDistanceBound").value = (argPost.longDistanceBound) || "";
        document.getElementById("minPay").value = (argPost.minPay) || "";
        document.getElementById("orderSettlePercent").value = (argPost.orderSettlePercent) || "";
    }

    function onPostForm() {
        var postData = $('#prForm').serialize()
        $.ajax({
            cache: true,
            type: "POST",
            url: '/manageProject/saveGlobal',
            data: postData,// 你的formid
            async: false,
            error: function (request) {
                alert("Connection error");
            },
            success: function (data) {
                if (data.ok == 1) {
                    g_ArgPost = data.d
                    alert('保存成功')
                }
            }
        });
    }

    //复写重置方法
    function onRest() {
        setInputValue(g_ArgPost)
    }
</script>

</body>
</html>