<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="boostrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="boostrap/css/bootstrap-table.css">
    <link href="boostrap/css/templatemo-style.css" rel="stylesheet">
    <link href="boostrap/css/font-awesome.min.css" rel="stylesheet">
    <link href="css/modalExtra.css" rel="stylesheet">
</head>
<body style="background-color: transparent">
<div class="templatemo-flex-row">
    <div class="templatemo-content col-1 light-gray-bg">
        <div class="templatemo-content-widget white-bg no-border">
            <div class="panel panel-default no-border">
                <div class="panel-body">
                    <table id="table" class="table table-striped table-bordered templatemo-user-table"
                           data-toggle="table"
                           data-page-list="[10, 25, 50, 100, ALL]"
                           data-pagination="true"
                           data-url="/dataJson/service.json"
                           data-height="auto">
                        <thead>
                        <tr>
                            <th data-field="id">服务项目ID</th>
                            <th data-field="name">服务名称</th>
                            <th data-field="tj">服务内容</th>
                            <th data-field="as" data-formatter="rmbFormatter">服务费用</th>
                            <th data-field="us" data-formatter="groupFormatter">适用人群</th>
                            <!--<th data-field="dt" >服务介绍</th>-->
                            <!--<th data-field="at" >服务步骤</th>-->
                            <th data-field="at">服务时长</th>
                            <!--<th data-field="at" >中途取消服务说明</th>-->
                            <th data-field="at">服务范围</th>
                            <!--<th data-field="at" >服务承若</th>-->
                            <th data-field="operate" data-formatter="operateFormatter" data-events="operateEvents">操作
                            </th>
                        </tr>
                        </thead>
                    </table>
                    <!-- 模态框（Modal） -->
                    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                         aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="panel-heading"><h2 class="text-uppercase">是否确定删除该服务</h2></div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary" id="deleteCommit">确定</button>
                                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                                </div>
                            </div><!-- /.modal-content -->
                        </div><!-- /.modal -->
                    </div>
                </div>
                <div class="text-right">
                        <button id="addNew" class="btn btn-success">
                            <i class="glyphicon glyphicon-plus"></i>添加服务
                        </button>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="boostrap/js/jquery.min.js"></script>
<script src="boostrap/js/bootstrap.min.js"></script>
<script src="boostrap/js/bootstrap-table.js"></script>
<script src="boostrap/bootstrap-table-zh-CN.js"></script>
<script src="boostrap/js/templatemo-script.js"></script>      <!-- Templatemo Script -->
<script src="js/cookieUnit.js"></script>
<script src="js/service.js"></script>
</body>
</html>
