<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="boostrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="boostrap/css/bootstrap-table.min.css">
    <link href="boostrap/css/templatemo-style.css" rel="stylesheet">
    <link href="boostrap/css/font-awesome.min.css" rel="stylesheet">

</head>
<body style="background-color: transparent">
<div class="templatemo-flex-row">

    <!-- Main content -->
    <div class="templatemo-content col-1 light-gray-bg">

        <div class="templatemo-content-widget white-bg">
            <table id="table"
                   data-toggle="table"
                   data-pagination="true"
                   data-height="auto"
                   class="table table-striped table-bordered templatemo-user-table">
                <thead>
                <tr>
                    <th data-field="name" data-formatter="idFormatter">姓名</th>
                    <th data-field="uid">账号</th>
                    <th data-field="right" data-formatter="rightFormatter">权限</th>
                    <th data-field="operate" data-formatter="operateFormatter" data-events="operateEvents">操作</th>
                </tr>
                </thead>
            </table>
            <div class="bs-bars pull-left">
                <div id="toolbar">
                    <button id="addNew" class="btn btn-success">
                        <i class="glyphicon glyphicon-plus"></i> 添加用户
                    </button>
                </div>
            </div>
            <br>
        </div>
        <!-- 模态框（Modal） -->
        <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel"
             aria-hidden="true">

            <div class="modal-dialog Absolute-Center" style="height: 33%">
                <div class="modal-content">
                    <div class="panel-heading"><h2 class="text-uppercase">修改账号</h2></div>
                    <div class="panel-body">
                        <form action="index.html" class="templatemo-login-form">
                            <div class="form-group">
                                <label for="newPwd">密码</label>
                                <input type="password" class="form-control" id="newPwd" placeholder="新密码">
                            </div>
                            <div class="form-group">
                                权限:
                                <select id="newRight">
                                    <option value="0">普通</option>
                                    <option value="1">管理员</option>
                                </select>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        <button type="button" class="btn btn-primary" id="btnEditUser">提交更改</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal -->
        </div>

        <div class="modal fade" id="addNewModal" tabindex="-1" role="dialog">
            <div class="modal-dialog Absolute-Center" style="height: 53%;bottom: 40%">
                <div class="modal-content">
                    <div class="panel-heading"><h2 class="text-uppercase">添加用户</h2></div>
                    <div class="panel-body">
                        <form action="index.html" class="templatemo-login-form">
                            <div class="form-group">
                                <label for="inputName">姓名</label>
                                <input type="text" class="form-control" id="inputName" placeholder="输入姓名">
                            </div>
                            <div class="form-group">
                                <label for="inputUid">账号</label>
                                <input type="text" class="form-control" id="inputUid" placeholder="输入账号">
                            </div>
                            <div class="form-group">
                                <label for="inputPwd">密码</label>
                                <input type="password" class="form-control" id="inputPwd" placeholder="输入密码">
                            </div>
                            <div class="form-group">
                                权限:
                                <select id="selectRight">
                                    <option value="0">普通</option>
                                    <option value="1">管理员</option>
                                </select>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        <button type="button" class="btn btn-primary" id="btnAddNew">确定</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal -->
        </div>

        <div class="modal fade" id="removeUserModel" tabindex="-1" role="dialog">
            <div class="modal-dialog Absolute-Center" style="height: 25%">
                <div class="modal-content">
                    <div class="panel-heading"><h2 class="text-uppercase">删除用户</h2></div>
                    <div class="panel-body">
                        <h1>真的要删除此人?</h1>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        <button type="button" class="btn btn-primary" id="btnRemoveUser">确定</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal -->
        </div>

    </div>
</div>
<script src="boostrap/js/jquery.min.js"></script>
<script src="boostrap/js/bootstrap.min.js"></script>
<script src="boostrap/js/bootstrap-table.js"></script>
<script src="boostrap/js/templatemo-script.js"></script>      <!-- Templatemo Script -->
<script src="js/cookieUnit.js"></script>
<script src="boostrap/bootstrap-table-zh-CN.js"></script>
<script>
    $('table').bootstrapTable({locale: 'zh-CN'});
    var uid = getCookie('uid');
    var right = Number(getCookie('right'));
    $(document).ready(function () {
        window.parent.onAutoIframeHeight(750) //设置Iframe的高度

        // if (right == 1) {
        //     $("#addNew").prop("disabled", false);
        //     $("#newRight").prop("disabled", false);
        // } else {
        //     $("#addNew").prop("disabled", true);
        //     $("#newRight").prop("disabled", true);
        // }
        //查询数据库
        $.ajax({
            type: "get",
            dataType: "json",
            data: {uid: uid},
            // url: '/users/query',
            timeout: 2000, //超时时间设置，单位毫秒
            success: function (data) {
                if (data != "") {
                    $.each(data.arr, function () {
                        $('#table').bootstrapTable('append', this);
                    });
                }
            },
            error: function (err) {
                console.log(err);
            },
            complete: function (XMLHttpRequest, status) { //请求完成后最终执行参数
                if (status == 'timeout') {//超时,status还有success,error等值的情况
                    alert("超时");
                }
            }
        });
    });

    $("#addNew").click(function () {
        $('#addNewModal').modal('show')
    })

    function editUser() {
        console.log("edit...")
    }

    //添加用户
    $("#btnAddNew").click(function () {
        //检查输入
        var name = $('#inputName')[0].value;
        var uid = $('#inputUid')[0].value;
        var pwd = $('#inputPwd')[0].value;
        var right = $('#selectRight')[0].value;
        if (!name || !uid || !pwd) {
            alert('请完成输入');
            return;
        }
        if (name.length > 8) {
            alert("名称太长");
            return;
        }
        if (uid.length < 4 || uid.length > 10) {
            alert("账号长度不对");
            return;
        }
        //发送给服务端
        $.ajax({
            type: "post",
            dataType: "json",
            data: {name: name, uid: uid, pwd: pwd, right: right},
            url: '/users/add',
            success: function (data) {
                if (data.err == "2") {
                    alert("账号已存在")
                } else {
                    $('#table').bootstrapTable('append', data);
                    $('#addNewModal').modal('hide')
                }
            },
            error: function (err) {
                console.log("hehehe");

            },
            complete: function (a, b) {
                console.log("hehehe");
            }
        });

    })

    var readyDelete //要删除的用户
    //删除用户
    $("#btnRemoveUser").click(function () {

        //发送给服务端
        $.ajax({
            type: "post",
            dataType: "json",
            data: {uid: readyDelete},
            url: '/users/delete',
            success: function (data) {
                if (data.ok) {
                    $('#table').bootstrapTable('remove', {
                        field: 'uid',
                        values: [readyDelete]
                    });
                    $('#removeUserModel').modal('hide')
                } else {
                    alert("删除失败")
                }
            },
            error: function (err) {
                console.log("hehehe");
            },
            complete: function (a, b) {
                console.log("hehehe");
            }
        });

    })

    var readyEdit;    //准备修改的uid
    var editIndex;
    //修改用户
    $("#btnEditUser").click(function () {
        var pwd = $('#newPwd')[0].value;
        var right = $('#newRight')[0].value;

        //检查输入
        if (!pwd) {
            alert("请输入新密码");
            return
        }

        $.ajax({
            type: "post",
            dataType: "json",
            data: {uid: readyEdit, pwd: pwd, right: right},
            url: '/users/edit',
            success: function (data) {
                if (data) {
                    $('#table').bootstrapTable('updateRow', {
                        index: editIndex,
                        row: {right: right}
                    });
                    $('#editModal').modal('hide')
                } else {
                    alert("删除失败")
                }
            },
            error: function (err) {
                console.log("hehehe");

            },
            complete: function (a, b) {
                console.log("hehehe");
            }
        });


    })


    function operateFormatter(value, row, index) {
        if (right == 1) {
            return [
                '<button type="button" class="RoleOfA btn btn-default  btn-sm" style="margin-right:15px;">删除</button>',
                '<button class="RoleOfEdit btn btn-default btn-sm" style="margin-right:15px;" >编辑</button>',
            ].join('');
        } else {
            return '<button class="RoleOfEdit btn btn-default btn-sm" style="margin-right:15px;" >编辑</button>'
        }

    }

    function rightFormatter(value) {
        if (value == 1) {
            return "管理员"
        } else {
            return "普通"
        }
    }

    function idFormatter(value) {
        return value;
    }

    window.operateEvents = {
        'click .RoleOfA': function (e, value, row, index) {
            readyDelete = row.uid;
            $('#removeUserModel').modal('show');
        },
        'click .RoleOfEdit': function (e, value, row, index) {
            readyEdit = row.uid;
            editIndex = index;
            $('#editModal').modal('show')
        }
    };
</script>
</body>
</html>
