<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="boostrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="boostrap/css/bootstrap-table.css">
    <link href="boostrap/css/templatemo-style.css" rel="stylesheet">
    <link href="boostrap/css/font-awesome.min.css" rel="stylesheet">
    <link href="css/modalExtra.css" rel="stylesheet">
</head>
<body style="background-color: transparent">
<div class="templatemo-flex-row">
    <div class="templatemo-content col-1 light-gray-bg">
        <div class="templatemo-content-widget white-bg no-border">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>技师列表</h3>
                    <table id="technicianTable" class="table table-striped table-bordered templatemo-user-table"
                           data-toggle="table"
                           data-page-list="[10]"
                           data-pagination="true"
                           data-height="auto">
                        <thead>
                        <tr>
                            <th data-field="id">技师号</th>
                            <th data-field="name">技师名称</th>
                            <th data-field="tj" data-formatter="tjFormatter">是否推荐</th>
                            <th data-field="review_status" data-formatter="asFormatter">审核状态</th>
                            <th data-field="us" data-formatter="usFormatter">账号状态</th>
                            <th data-field="dt" data-formatter="rtFormatter">注册时间</th>
                            <th data-field="at" data-formatter="atFormatter">最新审批时间</th>
                            <th data-field="operate" data-formatter="operateFormatter" data-events="operateEvents">操作
                            </th>
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>
            <!-- 模态框（Modal） -->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="panel-heading"><h2 class="text-uppercase">是否确定删除该技师</h2></div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" id="deleteCommit">确定</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal -->
            </div>
        </div>
    </div>
</div>

<script src="boostrap/js/jquery.min.js"></script>
<script src="boostrap/js/bootstrap.min.js"></script>
<script src="boostrap/js/bootstrap-table.js"></script>
<script src="boostrap/bootstrap-table-zh-CN.js"></script>
<script src="boostrap/js/templatemo-script.js"></script>      <!-- Templatemo Script -->
<script src="js/cookieUnit.js"></script>
<script src="js/technicianApproval.js"></script>
</body>
</html>
